@charset "UTF-8";

.nav {
	list-style: none;
	margin: 0 70px;
	padding: 0;
	width: 13%;
}
.news{
	display: flex;
    align-items: center;
}
.seoul-gnb-news{
	width: 60%;
}
body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}
li {
	display: inline-block;
	margin-right: 5%;
}
.main {
	text-decoration: none;
	color: #fff;
	font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    vertical-align: middle;
}
.hea > li > a{
	text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    vertical-align: middle;
}
.main a:hover {
	text-decoration: underline;
	color: #070707;
}

.wrap {
	width: 100%;
	background-color: #0676dd;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.icon-img {
	width: 27%;
    height: 5%;
    vertical-align: middle;
}
.header {
	max-width: 100%;
	margin: 0 20;
	padding: 5px 0;
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.hea {
	text-decoration: none;
	color: #0676dd;
	font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    width: 30%;
    
}
.none:hover {
	text-decoration: none;
	cursor: default;
	color: #373f73;
}
.hd {
	max-width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eee;
	height: 50px;
}
#name {
	font-size: 16px;
	color : black;
	font-weight: 700;
}
#shop {
	color: #0676dd;
    font-size: inherit;
    font-weight: inherit
}
.inner {
	text-decoration: none;
	color: #5e6361;
	font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    vertical-align: middle;
}
.infort{
   	position: absolute;
    background-color: #0676dd;
	display: none;
	color: white;
    text-align: center;
}
.infortview{
   	position: absolute;
    background-color: #0676dd;
	display: block;
	color: white;
    text-align: center;
}
.category{
	width:70px;
}
ul{
	display: inline-block;
	margin-right: 5%;
	
}
#second {
	text-align: left;
    width: 100%;
    padding: 0px;
    display: inline-block;
	margin-right: 30%;
    align-content: center;
}
#icon {
	width:40%;
	margin-left: 70px;
	align-content: center;
}
#thrd {
    height: 100%;
    display: flex;
    width: 25%;
}
#login{
	align-items: center;
    display: flex;
    margin-right: 20px;
}

#login a{
	text-decoration: none;
	color: #5e6361;
	font-size: 17px;
}
.chat {
	width: 60px;
    margin-left: 356px;
    padding: 0;
    background-size: 34px auto;
    background-position: top 11px center;
    color: transparent;
}