@charset "UTF-8";
*{
	box-sizing: border-box;
	font-family: "pretendard", sans-serif;
	font-style: normal;
}
body {
	background-color: #000;
	margin: 0;
}
.nav {
	list-style: none;
	margin: 0 20px;
	padding: 0;
	width: 77%;
}
li {
	display: inline-block;
	margin-right: 5%;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    vertical-align: middle;
}
a:hover {
	text-decoration: underline;
	color: #070707;
}

.wrap {
	width: 100%;
	background-color: #0676dd;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.icon-img {
	 width: 20%;
    height: 5%;
    vertical-align: middle;
}
.header {
	max-width: 100%;
	margin: 0 20;
	padding: 5px 0;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.hea {
	text-decoration: none;
	color: #0676dd;
	font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    width: 50%;
    
}
.none:hover {
	text-decoration: none;
	cursor: default;
	color: #373f73;
}
.hd {
	max-width: 100%;
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	height: 35px;
	align-items: center;
}
#name {
	font-size: 12px;
	color : black;
}
#shop {
	color: #0676dd;
    font-size: inherit;
    font-weight: inherit
}
.inner {
	text-decoration: none;
	color: #5e6361;
	font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    vertical-align: middle;
}
#information{
	display: none;
}
ul{
	display: inline-block;
	margin-right: 5%;
	
}
#second {
	text-align: center;
    width: 100%;
    padding: 0px;
    display: inline-block;
	margin-right: 5%;
    align-content: center;
}
#icon {
	width:30%;
	margin-left: 20px;
	align-content: center;
}
#thrd {
	text-align: center;
    padding: 0px;
	margin-right: 5%;
    align-content: center;
    height: 100%;
    display: flex;
    justify-content: right;
    width: 25%;
}
#login{
	align-items: center;
    display: flex;
    margin-right: 20px;
}

#login a{
	text-decoration: none;
	color: #5e6361;
	font-size: 12px;
	margin-left: 5px; 
}
.chat {
	width: 60px;
    margin-left: 356px;
    padding: 0;
    background-size: 34px auto;
    background-position: top 11px center;
    color: transparent;
}