@charset "UTF-8";

.rightMenu {
    position: absolute;
    right: 20px;
    top: 110px;
    z-index: 30;
}
li {
	margin: 0;
    padding: 0;
    color: #222;
    font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', Sans-serif;
    font-size: 12px;
    line-height: 1.2;
    box-sizing: content-box;
}
.rightMenu > ul {
    width: 80px;
    padding: 40px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
.rightMenu > ul > li {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    left: -18px;
}
li{
	margin: 0;
    padding: 0;
    color: #222;
    font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', Sans-serif;
    font-size: 12px;
    line-height: 1.2;
    box-sizing: content-box;
}
.rightMenu > ul > li > a {
	display: block;
    position: relative;
    margin: 0;
    height: 63px;
    padding: 30px 0 10px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    color: #222;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 100;
    top: -40px;
}
ol, ul {
    list-style: none;
}
.rightMenu > ul > li > a:before {
    display: block;
    position: absolute;
    left: 50%;
    top: 10px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    background-image: url(../img/i_district.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    content: '';
}
a, a:link {
    text-decoration: none;
}
@media(hover:hover) {
	.rightMenu > ul> li > a:hover {
		background-color : #0676dd;
		color: #fff;
		font-weight: 500;
	}
}

.rightMenu > ul > li.history > a:before {
    background-image: url(../img/i_history.svg) !important;
    display: block;
    position: absolute;
    left: 50%;
    top: 10px;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    content: '';
}
.rightMenu > ul > li.aroundInfo > a:before {
    background-image: url(../img/i_aroundInfo.svg);
}
.rightMenu > ul > li.road > a:before {
    background-image: url(../img/i_floating.svg);
}
