@charset "UTF-8";

.rightA{
    position: absolute;
    z-index: 65;
    right: 0;
    align-content: center;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rightB{
	position: absolute;
    z-index: 65;
    align-content: center;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rightBtnRight{
   	width: 62px;
    height: 100px;
    background-color: #fff;
    border: 0px;
    border-radius: 5px;
    float: right;
}
.rightBtn{
	display: block;
    width: 60px;
    height: 100px;
    background-color: #fff;
    border: 0px;
    border-radius: 5px;
}
.rightNone{
	display:none;
	z-index: -1;
}
.right{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	width: 50%;
	right: 0;
    min-width: 850px;
	height:90vh;
    position: absolute;
    z-index: 70;
    text-align: -webkit-right;
    overflow-x: hidden;
    overflow-y: hidden; 
}
.report{
	width: 100%;
	height: 50px;
    padding: 0 20px;
    background: #0676dd;
    font-size: 15px;
    color: #fff;
    align-content: center;
    
}
.repor{
	text-align: left;
	margin-top: 4px;
}
.tab_report{
	display: flex;
	height: 50px;
	border-bottom: 2px solid grey;
}
div > strong{
	font-size: 24px;
    color: #0676dd;
}
.repor > strong{
	font-size: 24px;
    color: #fff;
}
.Btn{
	float: right;
    margin-right: 30px;
    width: 40px;
    height: 40px;
}
.tab{
	height: 100px;
    background: #fff;
    font-size: 0;
    width: 100%;
    align-items: center;
}
.active{
	font-size: 19px;
	font-weight: 600;
    cursor: pointer;
    border-style: hidden;
    margin-left: 45px;
    margin-top: 15px;
    color: grey;
}
.place{
	cursor: pointer;
    border-style: hidden;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.pl span{
	font-size: 20px;
	font-weight: 600;
    font-weight: 600;
    cursor: pointer;
    border-style: hidden;
    margin-left: 45px;
    margin-top: 10px;
}
.pl a{
	font-size: 15px;
	margin-left: 10px;
}
.explain{
	height: 250px;
    justify-items: center;
    background: #fff;
    width: 100%;
    align-items: center;
    text-align: left;
}
#explain strong{
	display: inline-block;
    font-size: 24px;
    color: black;
    line-height: 50px;
    vertical-align: middle;
}
.warning{
    border-radius: 5px;
    background: #f9f9f9;
    width: 910px;
}
.choiceGu{
    background: #fff;
    text-align: left;
    padding-left: 15px;
}
#selectArea{
	
}
#warning strong{
	display: inline-block;
    font-size: 15px;
    color: black;
    line-height: 50px;
    vertical-align: middle;
}
.info_limit{
	position: relative;
    font-size: 16px;
    border-style: hidden;
}
.info_active{
	margin-top: 20px;
	border-radius: 5px;
    background: #f9f9f9;
}
.tabWrapLy{
    background: #fff;
    text-align: center;
    padding-top: 10px;
 }
.totalOpi{
	margin:0px 0px 16px 30px;;
	text-align: left;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0 0;
}
.totalReport{
	place-self: center;
    text-align: left;
	width: 865px;
	padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
}
 .totalJumpo{
 	margin-top: -95px;
 }
 .jumpo{
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 300px;
    display: inline-block;
    margin-top: 0px;
}
.labelArea > div > p{
	padding: 0px;
}
.relative{
	padding: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
}
.contrast{
	border-color: #e7216ac4;
    background: #e7216ac4;
    height: 80px;
    padding-top: 4px;
    border-radius: 10px;
    justify-items: center;
}
.jeon{
	color: #fff;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
}
.jeonBun{
	color: #fff;
    font-size: 17px;
    text-align: center;
    margin-bottom: 0px;
	}
.yearBun{
	height: 80px;
    padding: 10px 10px;
    background: #f7f7f7;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 0px;
}
.yearBun01{
	margin: 0px;
	font-size: 20px;
    font-weight: 500;
}
.yearBun02{
	margin: 0px;
	font-size: 20px;
    font-weight: 700;
}
.labelArea{
	    display: flex;
	    height: 45px;
	    justify-content: center;
}
.labelA p{
	margin-top: 25px;
	font-size: 17px;
	font-weight: 600;
	padding-right: 50px;
}
.textTit01{
	font-size: 23px;
    font-weight: 600;
    color: #000;
    letter-spacing: -1px;
    height: 25px;
    margin: 0px;
    text-align: left;
    margin: 0px 0px 16px 30px;
  }
.reportContentRow{
	margin-top: 15px;
}
.reportContentCell{
	width: 220px;
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: inline-block;
    justify-items: center;
}
.reportTit02{
	font-size: 13px;
	text-align: center;
	border-radius: 30px;
    border: 1px solid #ddd;
    color: #666;
    line-height: 120%;
    display: flex;
    align-items: center;
    min-height: 35px;
    box-sizing: border-box;
    width: 140px;
    justify-content: center;
}
.jumpoNo{
	padding: 20px 0px 0px;
    border-bottom: 16px solid #f1f1f1;
    background-color: white;
}
.totalJumpoNo{
	margin: 0px 0px 16px 30px;
	text-align: left;
	padding: 10px 0 10px;
    font-size: 15px;
}
.summary{
	text-align: left;
	margin: 0px 0px 16px 30px;
	font-size: 22px;
    font-weight: 700;
}
.contRast{
	justify-self: center;
    width: 910px;
	margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.datail{
	justify-self: center;
    width: 910px;
	margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.datail a{
	color: #0676dd;
    font-weight: 600;

}
.chartArea{
	position: relative;
    min-height: 268px;
    margin: 30px 20px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.chartArea p.title {
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.chartArea span.unit {
    position: absolute;
    right: 5px;
    color: var(--color-gray);
}
.rMateH5_Root{
	color: #000000;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    font-stretch: normal;
    text-decoration: none;
    font-family: arial, verdana;
 }
graph {
    margin-top: 14px;
    min-height: 278px;
    padding: 50px 20px 20px;
}
.graph2{
	margin-top: 14px;
	min-height: 278px;
    padding: 50px 20px 20px;
}
.graph2 p.title {
    text-align:left;
    top: 45px;
    left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.selectDistrict{
	min-height: 200px;
}
.selectDistrict .chart > div{
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 2;
}
/*.chart{
	width: 100%;
}
.chart div.si{
	width: 210px;
    height: 198px;
    margin: -99px 0 0 -105px;
}
.chart div.gu{
	width: 159px;
    height: 148px;
    margin: -74px 0 0 -79.5px;
}
.chart div.dong{
	width: 110px;
    height: 100px;
    margin: -50px 0 0 -55px;
    line-height: 2.5;
}*/
.area_col{
	display: flex;
	margin-top: 20px;
}
.chartArea2{
	width: calc(50% - 35px);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    height: 488px;
}
.chartArea2 p.title{
	text-align: center;   
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-top: 15px;
}
.legend{
	
    padding-bottom: 20px;
    font-size: 15px;
    text-align: center;
}
.legendto{
	display: inline-block;
    position: relative;
    margin-left: 10px;
    padding-left: 14px;
    font-size: 10px;
    vertical-align: middle;
}
.gu{
	background-image: url("../img/chart_gu.svg");
	width: 200px;
	height: 195px;
	margin: -243px 105px 0 0px;
}
.si{
	background-image: url("../img/chart_si.svg");
	width: 300px;
	height: 295px;
	margin: -65px 54px 0 0px;
}
.siBtnColor{
    font-size: 15px;
    margin: 35px;
}
.guBtnColor{
	font-size: 15px;
    margin: -9px;
}
.chartArea3{
	width: calc(50% - 35px);
    border: 1px solid #ddd;
    border-radius: 5px;
}
.chartArea3 p.title{
	text-align: center;   
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-top: 15px;
}
.rMateH5_box{
	text-align: center;
    color: #888;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    height: 39px;
    width: 175px;
    margin-left: 100px;
}
.rMateH5_Legend{
	width: 280px;
    display: table-cell;
}
.rMateH5_Text{
	font-size: 12px;
	font-weight: 600;
}
.sin{
	margin: 0px;
    border-bottom: 16px solid #f1f1f1;
}
.gi{
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    margin-left: 25px;
}
#live{
	margin: 0px 0px 0px 25px;
}
.contRast2{
	margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: left;
    display: block;
    width: 910px;
    place-self: center;
}
.half{
	font-size: 15px;
	color: grey;
	width: 65%;
	margin-left: 20px;
}
.percent{
	font-size: 15px;
	float: right;
	margin-right: 20px;
}
p.title{
	font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: -38px;
    margin-left: 30px;
}
p.unit{
	color: black;
    margin-top: -30px;
    margin-left: 550px;
}
.scroll_y{
	overflow-y: auto;
	touch-action: pinch-zoom;
    width: 100%;
    height: 83%;
    overflow-x: hidden;
}
.ScrollBox{
	position: relative;
    overflow: hidden;
    max-width: 100%;
    outline: 0;
    direction: ltr;
}
hr{
	width: 98%;
}
.multipleChartArea{
	display: flex;
    width: 97%;
    justify-self: center;
    margin-bottom: 20px;
}

strong.increaseStore{
	color: #e02171;
    font-size: 15px;
}

strong.decreaseStore{
	color: #0676dd;
    font-size: 15px;
}
strong.sameStore{
	color: #808080;
    font-size: 15px;
}

strong.increase{
	color: #e02171;
    font-size: 15px;
    float: right;
    margin-right: 20px;
}

strong.decrease{
	color: #0676dd;
    font-size: 15px;
    float: right;
    margin-right: 20px;
}
strong.same{
	color: #808080;
    font-size: 15px;
    float: right;
    margin-right: 20px;
}