@charset "UTF-8";
.rightB{
	height:85vh;
    position: absolute;
    z-index: 50;
}
.rightBtn{
	display: block;
    position: absolute;
    align-self: anchor-center;
    width: 60px;
    height: 100px;
    background-color: #fff;
    border: 0px;
    border-radius: 5px;
}
.report{
	height: 50px;
    padding: 0 20px;
    background: #0676dd;
    font-size: 15px;
    width: 810px;
    color: #fff;
    align-content: center;
    
}
.repor{
	text-align: left;
	margin-top: 4px;
}
.tab_report{
	border-bottom: 2px solid grey;
}
div > strong{
	display: inline-block;
	font-size: 24px;
    color: #fff;
    line-height: 50px;
    vertical-align: middle;
}
.Btn{
	margin-left: 64%;
    width: 40px;
    height: 40px;
}
.right{
	height:85vh;
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: -webkit-right;
}
.tab{
	height: 100px;
    padding: 0 20px;
    background: #fff;
    font-size: 0;
    width: 810px;
    align-items: center;
}
.tab_report{
	display: flex;
	height: 50px;
}
.active{
	font-size: 19px;
	font-weight: 600;
    cursor: pointer;
    border-style: hidden;
    margin-left: 45px;
    margin-top: 15px;
    color: grey;
}
.place{
	cursor: pointer;
    border-style: hidden;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.pl span{
	font-size: 20px;
	font-weight: 600;
    font-weight: 600;
    cursor: pointer;
    border-style: hidden;
    margin-left: 45px;
    margin-top: 10px;
}
.pl a{
	font-size: 15px;
	margin-left: 10px;
}
.explain{
	height: 330px;
    padding: 0 20px;
    background: #fff;
    width: 900px;
    align-items: center;
    text-align: left;
}
#explain strong{
	display: inline-block;
    font-size: 24px;
    color: black;
    line-height: 50px;
    vertical-align: middle;
}
.warning{
	margin-top: 8px;
    border-radius: 5px;
    background: #f9f9f9;
    width: 101%;
}
#warning strong{
	display: inline-block;
    font-size: 15px;
    color: black;
    line-height: 50px;
    vertical-align: middle;
}
.info_limit{
	position: relative;
    font-size: 16px;
    border-style: hidden;
    top: 10px;
}
.info_active{
	margin-top: 20px;
	border-radius: 5px;
    background: #f9f9f9;
}
.tabWrapLy{
	padding: 1px 20px;
    background: #fff;
    width: 900px;
    text-align: left;
 }
.totalOpi{
	margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0 0;
}
.totalReport{
	padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
}
#summary strong{
	color: #0676dd;
    font-size: inherit;
 }
 .totalJumpo{
 	margin-top: -95px;
 }
 .jumpo{
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: calc(33.33% - 10px);
    display: inline-block;
    margin-top: 0px;
}
.relative{
	padding: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
}
.contrast{
	border-color: #e7216ac4;
    background: #e7216ac4;
    height: 80px;
    padding-top: 4px;
    border-radius: 10px;
    justify-items: center;
}
.jeon{
	color: #fff;
    font-size: 23px;
    margin-top: 3px;
    text-align: center;
    margin: 0px;
}
.jeonBun{
	color: #fff;
    font-size: 17px;
    text-align: center;
	}
.yearBun{
	height: 80px;
    padding: 10px 10px;
    background: #f7f7f7;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 0px;
}
.yearBun01{
	font-size: 20px;
    font-weight: 500;
}
.yearBun02{
	font-size: 20px;
    font-weight: 700;
    margin-top: -15px;
}
.labelArea{
	    display: flex;
	    height: 45px;
	    justify-content: center;
}
.labelA p{
	margin-top: 25px;
	font-size: 17px;
	font-weight: 600;
	padding-right: 50px;
}
.textTit01{
	font-size: 23px;
    font-weight: 600;
    color: #000;
    letter-spacing: -1px;
    height: 25px;
    margin: 0px;
  }
.reportContentRow{
	margin-top: 15px;
}
.reportContentCell{
	width: calc(25% - 10px);
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: inline-block;
    justify-items: center;
}
.reportTit02{
	font-size: 13px;
	text-align: center;
	border-radius: 30px;
    border: 1px solid #ddd;
    color: #666;
    line-height: 120%;
    display: flex;
    align-items: center;
    min-height: 35px;
    box-sizing: border-box;
    width: 140px;
    justify-content: center;
}
.common{
	    margin-top: 10px;
}
.jumpoNo{
	padding: 20px 0px 0px;
    border-bottom: 16px solid #f1f1f1;
}
.totalJumpoNo{
	padding: 40px 0 10px;
    font-size: 15px;
}
.summary{
	margin: 0px;
	font-size: 22px;
    font-weight: 700;
}
.contRast{
	margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.datail{
	margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.datail a{
	color: #0676dd;
    font-weight: 600;

}
.chartArea{
	position: relative;
    min-height: 278px;
    padding: 50px 20px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.chartArea p.title {
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.chartArea span.unit {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--color-gray);
}
.rMateH5_Root{
	color: #000000;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    font-stretch: normal;
    text-decoration: none;
    font-family: arial, verdana;
 }
graph {
    margin-top: 14px;
    min-height: 278px;
    padding: 50px 20px 20px;
}
.graph2{
	margin-top: 14px;
	min-height: 278px;
    padding: 50px 20px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.selectDistrict{
	min-height: 200px;
}
.selectDistrict .chart > div{
	position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 2;
}
/*.chart{
	width: 100%;
}
.chart div.si{
	width: 210px;
    height: 198px;
    margin: -99px 0 0 -105px;
}
.chart div.gu{
	width: 159px;
    height: 148px;
    margin: -74px 0 0 -79.5px;
}
.chart div.dong{
	width: 110px;
    height: 100px;
    margin: -50px 0 0 -55px;
    line-height: 2.5;
}*/
.area_col{
	display: flex;
	margin-top: 20px;
}
.chartArea2{
	width: calc(50% - 35px);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    height: 330px;
}
.chartArea2 p.title{
	text-align: center;   
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-top: 15px;
}
.legend{
	display: flex;
	margin-left: 70px;
    padding-bottom: 20px;
    font-size: 15px;
    text-align: center;
}
.legendto{
	display: inline-block;
    position: relative;
    margin-left: 10px;
    padding-left: 14px;
    font-size: 10px;
    vertical-align: middle;
}
.siBtnColor{
	position: absolute;
    top: 60%;
    margin-top: -120px;
    background-position: center;
}
.chartArea3{
	width: calc(50% - 35px);
    border: 1px solid #ddd;
    border-radius: 5px;
}
.chartArea3 p.title{
	text-align: center;   
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-top: 15px;
}
.rMateH5_box{
	text-align: center;
    color: #888;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    height: 39px;
    width: 175px;
    margin-left: 100px;
    margin-top: 230px;
}
.rMateH5_Legend{
	width: 280px;
    display: table-cell;
}
.rMateH5_Text{
	font-size: 12px;
	font-weight: 600;
}
.sin{
	padding: 0 20px 30px;
    border-bottom: 16px solid #f1f1f1;
}
.gi{
	padding: 40px 0 10px;
    font-size: 15px;
    font-weight: 600;
}
.summary{
	margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
}
.contRast2{
	margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    height: 41px;
    width: 850px;
    justify-content: center;
}
p.title{
	font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: -38px;
    margin-left: 30px;
}
p.unit{
	color: black;
    margin-top: -30px;
    margin-left: 550px;
}
.scroll_y{
	overflow-y: auto;
	touch-action: pinch-zoom;
	width: 850px;
    height: 700px;
}
.ScrollBox{
	position: relative;
    overflow: hidden;
    max-width: 100%;
    outline: 0;
    direction: ltr;
}