@charset "UTF-8";
*{
	box-sizing: border-box;
}

.dpnone{
	display: none;
}
body {
    font-family: "pretendard", sans-serif;
	font-style: normal;
	margin: 0;
}
h2 {
	margin: 0;
	font-size: 26px;
}
.detail-container {
    max-width: 900px;
    margin: auto;
}
.back{
	font-size: 30px;
    cursor: pointer;
    color: #969696;
}


.meta{
	font-size: 15px;
	color: #969696;
	margin-top: 5px;
}

.post-actions{
	display: flex;
	align-items: center;
    justify-content: space-evenly;
}
.post-actions button{
	border-radius: 50px;
	background-color: #50d0bf96;
	color: #fff;
	border: none;
	width: 18%;
	height: 50px;
	margin-left: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 30px;
}

.return{
	width: 130px;
	height: 50px;
	background-color: #50d0bf96;
	color: white;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}
